.footer {
	position: relative;
	&__container {
	}

	&__body {
		position: relative;
		display: flex;
		justify-content: flex-end;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		width: 68.2%;
	}

	&__block {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-bottom: 1px solid $black;
	}

	&__block-item {
		display: flex;
	}

	&__line {
	}

	&__item-heading {
		display: flex;
		align-items: flex-end;
		margin-bottom: 60px;
		margin-top: 10px;
	}

	&__heading-text {
		max-width: 675px;
		font-weight: 400;
		font-size: 64px;
		line-height: 110.5%;
		margin-right: 20px;
		text-transform: uppercase;
	}

	&__heading-num {
		margin-right: 20px;
		font-family: 'Playfair Display';
		font-style: italic;
		font-weight: 400;
		font-size: 36px;
		line-height: 110.5%;
	}

	&__heading-arrow {
		position: relative;
		height: 70px;
		width: 70px;
		border-radius: 50%;
		background: $orange;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		cursor: pointer;
		&:hover:before {
			opacity: 0;
		}
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			border-radius: 50%;
			width: 56px;
			height: 56px;
			border: 2px solid $white;
			transition: .2s ease;
		}
		&:hover > img:nth-child(2){
			transform: translateX(200%);
		}
		&:hover > img:nth-child(1){
			transform: translateX(0%);
		}
		img {
			position: absolute;
			transition: .2s ease;
		}
		img:nth-child(1) {
			transform: translateX(-200%);
		}
		img:nth-child(2) {
			transform: translateX(0%);
		}
	}

	&__item {
		width: 50%;
	}

	&__management {
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 20px;
	}

	&__social {
		margin-bottom: 30px;
		li {
			list-style: none;

			a {
				position: relative;
				text-decoration: none;
				font-weight: 400;
				font-size: 24px;
				line-height: 33px;
				color: $black;
				&:hover:before {
					width: 100%;
					right: auto;
					left: 0;
				}
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0%;
					height: 1px;
					background: $black;
					transition: .5s ease;
				}
			}
		}
	}

	&__email {
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 20px;
	}

	&__email-text {
		position: relative;
		font-weight: 400;
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 167px;
		&:hover:before {
			width: 0;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 4px;
			left: 0;
			width: 60%;
			height: 1px;
			background: $black;
			transition: .5s ease;
		}
	}

	&__adress-text {
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 20px;
	}

	&__adress {
		font-weight: 600;
		font-weight: 400;
		font-size: 24px;
		line-height: 33px;
	}

	&__under-text {
		max-width: 300px;
		margin-top: 20px;
		margin-bottom: 75px;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
	}
}