$black: #231F20;
$white: #F2F2F2;
$orange: #CF8151;


.line	{
	height: 184px;
	width: 100%;
	right: 0;
	border-bottom: 1px solid $black;
}

.arrow {
	width: 181px;
	height: 181px;
	border-radius: 50%;
	transition: all .2s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 152px;
		height: 152px;
		border: 2px solid $white;
		z-index: 1;
		border-radius: 50%;
	}
}